<h2>Add a new author</h2>
<form class="author-form" action="/authors" method="post">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" value="">
  <br>
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" value="">
  <br>
  <label for="biography">Biography</label>
  <input type="text" name="biography" value="">
  <br>
  <input type="submit" name="" value="SUBMIT">
</form>
