<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/authors">All Authors</a>
      <a href="/books">All Books</a>
      <br>
      <a href="/authors/add-author">Add Author</a>
      <a href="/books/add-book">Add Book</a>
    </header>
    {{{body}}}
  </body>
</html>
